.r1c1{
    background-color: burlywood;
    height: 50px;
    margin: 0px;
}
.r1c2{
    background-color: black;
    height: 50px;
    margin: 0px;
}
.r1c3{
    background-color: #ffb737;
    height: 50px;
    margin: 0px;
}
.r2c1{
    background-color: yellow;
    height: 400px;
    margin: 0px;
}
.r2c2{
    background-color: skyblue;
    height: 400px;
    margin: 0px;
}
.r3c1{
    background-color: green;
    height: 400px;
    margin: 0px;
}
.r3c2{
    background-color: black;
    height: 400px;
    margin: 0px;
}
.r4c1{
    background-color: #ffb737;
    height: 150px;
    margin: 0px;
}
.r5c1{
    background-color: purple;
    height: 150px;
    margin: 0px;
}
.r5c2{
    background-color: skyblue;
    height: 150px;
    margin: 0px;
}
.r5c3{
    background-color: pink;
    height: 150px;
    margin: 0px;
}
.r5c4{
    background-color: blue;
    height: 150px;
    margin: 0px;
}
.r6c1{
    background-color: black;
    height: 250px;
    margin: 0px;
}

.r7c1{
    background-color: #ffb737;
    height: 100px;
    margin: 0px;
}
.r8c1{
    background-color: skyblue;
    height: 400px;
    margin: 0px;
}
.r9c1{
    background-color: black;
    height: 100px;
    margin: 0px;
}
.r9c2{
    background-color: blue;
    height: 100px;
    margin: 0px;
}
.r10c1{
    background-color: blue;
    height: 350px;
    margin: 0px;
}
.r10c2{
    background-color: #eaf4fe;
    height: 350px;
    margin: 0px;
}

.r11c1{
    background-color: black;
    height: 75px;
    margin: 0px;
}
.r11c2{
    background-color: #ffb737;
    height: 75px;
    margin: 0px;
}
.r12c1{
    background-color: #ffb737;
    height: 100px;
    margin: 0px;
}
.r13c1{
    background-color: black;
    height: 75px;
    margin: 0px;
}
.r14c1{
    background-color: dimgray;
    height: 75px;
    margin: 0px;
}
.r15c1{
    background-color:#ffb737;
    height: 75px;
    margin: 0px;
}
.r16c1{
    background-color:#ffb737;
    height: 75px;
    margin: 0px;
}


